name: Continuous Delivery

on:
  push:
    branches:
      - main
    tags:
      - "v*"

  workflow_dispatch:

jobs:
  cd:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout main
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build latest image
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        run: |
          make latest -j $(nproc)

      - name: Build release image
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          make release -j $(nproc)
