name: PY - CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/py-ci.yaml"
      - "**.py"
      - "apps/pdf-extractor/**"

  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/py-ci.yaml"
      - "**.py"
      - "apps/pdf-extractor/**"

  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/pdf-extractor

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run Linter
        run: uv run ruff check .

      - name: Run Type Checker
        run: uv run ty check .
