name: TS - CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ts-ci.yaml"
      - "**.ts"
      - "**.tsx"
      - "!apps/backend/**"

  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ts-ci.yaml"
      - "**.ts"
      - "**.tsx"
      - "!apps/backend/**"

  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Run Lint
        run: pnpm run lint

      - name: Run Build
        run: pnpm run build
